/*weekview cells*/
.paperInCell {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

.paperInCellWithMinSize {
    display: flex;
    min-height: 50px;
    min-width: 100px;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

.gridCell {
    display: flex;
    justify-content: center;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}

/*cards*/
.card {
    display: flex;
    margin: 5px;
    flex-direction: column;
    gap: 10px 10px;
    border: 2px solid #f7f8f9;
    padding: 10px;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
